img {
    align-self: center;
}

.avatar {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.avatar-w {
    max-width: 200px;
}

.top-border {
    border-top: 1px solid #c9d1d9;
}

.profile-nav {
    border-bottom: none;
}

.profile-searchbar {
    border-radius: 0.375rem;
    border: 2px solid #dee2e6;
}

.profile-data-list {
    border: 1px solid #dee2e6; 
    border-radius: 0 0 0.375rem 0.375rem;
}

::deep .nav-link.active {
    color: #1f82c0;
}

::deep .nav-link {
    /*
        color: #495057;
     */
    color: black;
}
@media (max-width: 575.98px) {
    .avatar-w {
        max-height: 100px;
    }
}

