@using Models.DTO
@using Models
@foreach (Review review in Reviews) {
    <div class="card mb-3">
        <div class="card-body d-flex flex-column">
            <div class="d-flex mb-1 justify-content-between">
                <h5 class="me-3">
                    <NavLink href="@GetLinkToWse(review)">@review.Title</NavLink>
                </h5>
                <div>
                    @for (int i = 0; i < (int)review.StarCount; i++) {
                        <i class="fa fa-star rating-color"></i>
                    }
                    @for (int i = (int)review.StarCount; i < 5; i++) {
                        <i class="fa fa-star rating-uncolored"></i>
                    }
                </div>
            </div>
            @review.Description
            <div class="d-flex justify-content-between mt-1">
                @review.CreationTime
                <AuthView UserIdClaim="CurrentPageUserId">
                    <AuthorizedAndMatching>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <DeleteModal ModalTitle="Bewertung löschen"
                                         ModalBody="Sind Sie sicher, dass Sie Ihre Bewertung löschen möchten?"
                                         ReviewId="review.Id"
                                         WseId="review.WseId"
                                         ToDelete="review"
                                         ButtonStyle="btn-small btn-outline-danger">
                            </DeleteModal>
                            <button class="btn btn-small btn-outline-success" type="button">Bearbeiten</button>
                        </div>
                    </AuthorizedAndMatching>
                </AuthView>
            </div>

        </div>
    </div>
}

@code {

    [Parameter]
    public IEnumerable<Review> Reviews { get; set; } = null!;

    [Parameter]
    public long CurrentPageUserId { get; set; }

    private string GetLinkToWse(Review review) {
        return "wse/" + review.WseId;
    }

}
