@using Models.DTO
@using Models
@foreach (Review review in Reviews) {
    <div class="card mb-3">
        @*
        <div class="row flex-shrink-0 me-0">
            <div class="col">
                @for (int i = 0; i < (int)review.StarCount; i++) {
                    <i class="fa fa-star rating-color"></i>
                }
                @for (int i = (int)review.StarCount; i < 5; i++) {
                    <i class="fa fa-star rating-uncolored"></i>
                }
            </div>
        </div>
        *@
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-auto">
                    @for (int i = 0; i < (int)review.StarCount; i++) {
                        <i class="fa fa-star rating-color"></i>
                    }
                    @for (int i = (int)review.StarCount; i < 5; i++) {
                        <i class="fa fa-star rating-uncolored"></i>
                    }
                </div>
                <div class="col">
                    <NavLink href="">
                        <h5>wseName</h5>
                    </NavLink>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col">
                    <h5>
                        @review.Title
                    </h5>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    @review.Description
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    @review.CreationTime
                </div>
            </div>
            <div class="d-grid gap-2 d-flex justify-content-end">
                <button class="btn btn-small btn-outline-danger" type="button"  @onclick="OpenDeleteDialog">Löschen</button>
                <button class="btn btn-small btn-outline-success" type="button">Bearbeiten</button>
            </div>
        </div>
    </div>
}

@if (DeleteDialogOpen) 
{
    <Frontend.Pages.Components.DeleteModal Title="Bewertung löschen" Text="Sind Sie sicher, dass Sie Ihre Bewertung löschen möchten?" OnClose="@OnDeleteDialogClose"/>
}

@code {

    [Parameter]
    public IEnumerable<Review> Reviews { get; set; } = null!;

        @*for delete modal*@
    public bool DeleteDialogOpen { get; set; }

    private void OpenDeleteDialog()
    {
        DeleteDialogOpen = true;
        StateHasChanged();
    }

    private void OnDeleteDialogClose(bool accepted)
    {
        DeleteDialogOpen = false;
        StateHasChanged();
    }

}