@using Frontend
@using Frontend.Pages.UserManagement
@using RichardSzalay.MockHttp
@using System.Net
@inherits TestContext
@code {

    [Fact]
    public void NoInputTest() {
        // Arrange
        LoginState loginState = new LoginState(new HttpClient());
        
        // Act
        var cut = RenderComponent<Login>(parameters => parameters.Add(p => p.LoginState, loginState));
        cut.Find("button[type=submit]").Click();

        // Assert
        var valList = cut.Find("ul[class=validation-errors]");
        valList.MarkupMatches(
            @"<ul class=""validation-errors"">
                <li class=""validation-message"">
                    The Email field is required.
                </li>
                <li class=""validation-message"">
                    The Password field is required.
                </li>
            </ul>");
    }
    
    
    [Fact]
    public void InvalidEmailTest() {
        LoginState loginState = new LoginState(new HttpClient());

        var cut = RenderComponent<Login>(parameters => parameters.Add(p => p.LoginState, loginState));
        cut.Find("input[type=email]").Change("email");

        var valList = cut.Find("ul[class=validation-errors]");
        valList.MarkupMatches(
            @"<ul class=""validation-errors"">
                <li class=""validation-message"">
                    The Email field is not a valid e-mail address.
                </li>
            </ul>");
        var valMessage = cut.Find("div[class=validation-message]");
        valMessage.MarkupMatches(
            @"<div class=""validation-message"">The Email field is not a valid e-mail address.</div>");
    }

    [Fact]
    public void ValidInput() {
        var mock = Services.AddMockHttpClient();
        LoginState loginState = new LoginState(Services.GetRequiredService<HttpClient>());
        mock.When("http://localhost/auth/login").Respond(HttpStatusCode.OK);
        var navMan = Services.GetRequiredService<FakeNavigationManager>();
        navMan.NavigateTo("/login");

        var cut = RenderComponent<Login>(parameters => parameters.Add(p => p.LoginState, loginState));
        cut.Find("#email").Change("mock@mock");
        cut.Find("#password").Change("mocking");
        cut.Find("form").Submit();

        cut.WaitForAssertion(() => Assert.Equal("http://localhost/", navMan.Uri));
    }
    
    [Fact]
    public async Task AlreadyLoggedIn() {
        var mockHttpHandler = Services.AddMockHttpClient();
        await MockAuthentication.AddMockAuthentication(this, mockHttpHandler, true);
        var navMan = Services.GetRequiredService<FakeNavigationManager>();
        navMan.NavigateTo("/login");
        
        var cut = RenderComponent<Login>();
        Assert.True(cut.Instance.LoginState.LoggedIn);
        Assert.Equal("http://localhost/", navMan.Uri);
    }

}
