@page "/editReview"

<PageTitle>Atria - Bewertung</PageTitle>

<div class="container-xxl mt-4">

    @if (newReview)
    {
        <h2 class="mb-3">Bewertung erstellen</h2>
    } else if (editReview)
    {
        @*TODO fill inputs with data*@
        <h2 class="mb-3">Bewertung bearbeiten</h2>
    }

    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-bold mb-2">Bewertung zu</h5>
            <a class="card-link">Name WSE</a>

            <h5 class="card-title fw-bold mt-3 mb-2">
                Sternbewertung
                <small style="color: red">*Pflicht</small>
            </h5>
            
            <div class="row mt-2">
                <div class="col-2">
                    <select class="form-select form-select-sm" style="box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 3px" @bind="selectedStarNum">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-auto">
                    @for (int i = 1; i <= selectedStarNum; i++)
                    {
                        <i class="fa fa-star rating-color me-1"></i>
                    }
                    @if (selectedStarNum != 5)
                    {
                        @for (int i = 1; i <= (5 - selectedStarNum); i++)
                        {
                            <i class="fa fa-star rating-uncolored me-1"></i>
                        }
                    }
                </div>
            </div>

            <label class="form-label fw-bold mt-2">
                Titel der Bewertung
                <small style="color: red">*Pflicht</small>
            </label>
            <div class="ui-field">
                @*TODO change to InputText when EditForm included*@
                <input type="text" class="form-control mb-2"/>
            </div>

            <label class="form-label fw-bold">schriftliche Bewertung</label>
            <div class="ui-field">
                @*TODO change to InputTextArea when EditForm included*@
                <textarea type="text" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 mt-4 mb-4 d-flex justify-content-end">
        <button class="btn btn-success" type="submit">
            Speichern
        </button>
    </div>

</div>

@code {
    public bool newReview = true;
    public bool editReview = false;
    public int selectedStarNum = 0;
}