.input-field {
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 3px; 
    border-radius: 0.4rem;
}

.btn-small {
    font-size: 12px;
    padding-block: 1px;
}

.btn-close-white {
    height: 7px;
    width: 3px;
    margin-left: 5px;
}


