input {
    background-color: rgba(250, 250, 250, 1);
}

textarea {
    background-color: rgba(250, 250, 250, 1);
}

.btn {
    background-color: none;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.btn-green {
    height: 35px;
    background-color: rgba(0, 175, 138, 1);
    color: white;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.btn-red {
    height: 20px;
    background-color: rgba(299, 85, 85, 1);
    color: white;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: black;
    font-size: 10pt;
}

.bg-tag {
    font-size: 10pt;
    background-color: rgba(36, 189, 255, 1);
}
