@page "/notifications"

<PageTitle>Benachrichtigungen - Atria</PageTitle>

<div class="container-lg mt-3">
    <h2 class="mb-3">Benachrichtigungen</h2>

    @*foreach notification*@
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-auto d-flex justify-content-center">
                    <i class="bi bi-envelope-exclamation fs-1 ms-1"></i>
                </div>
                <div class="col">
                    <h5 class="card-title">
                        notification.baseMessage
                        <small class="text-muted">Datum</small>
                    </h5>
                    <NavLink class="card-link" href="#">Name WSE</NavLink>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}