@using Models
@using Models.DTO
@inject NavigationManager NavManager
@inject HttpClient HttpClient

<button class="btn btn-outline-secondary btn-small ms-2" @onclick="() => ModalBase.Open()">weitere Kollaboratoren</button>

<ModalBase @ref="ModalBase">
    <ModalTitle>Kollaboratoren</ModalTitle>
    <ModalBody>
        @foreach (User user in _collaboratorsAsUsers) {
            <div class="card mb-2">
                <div class="row">
                    <div class="col-2">
                        <img src="@user.ProfilePicture" alt="avatar"/>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <div class="card-title">
                                @user.FirstNames @user.LastName
                                @if (user.Id == WseContactPersonId) {
                                    <small style="color: red">*Ansprechpartner</small>
                                }
                            </div>
                            <div class="card-subtitle">@user.Email</div>
                            <div class="d-grid d-flex justify-content-end">
                                <button class="btn btn-outline-danger btn-small" type="button" @onclick="() => RemoveCollabById(user.Id)">
                                    Entfernen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <AuthView UserIdClaimCollection="_idsWithEditRights">
            <AuthorizedAndMatching>
                <label class="form-label mt-2">E-Mail oder Name des neuen Kollaborators</label>
                <div class="ui-field">
                    @*TODO UserSearch*@
                    <input class="form-control" @bind="_newCollabEmail"/>
                </div>
                <div class="d-grid gap-2 mt-3 mb-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-success" @onclick="AddCollab">Hinzufügen</button>
                </div>
            </AuthorizedAndMatching>
        </AuthView>

    </ModalBody>
</ModalBase>

@code {

    private string? _newCollabEmail;

    public ModalBase ModalBase { get; set; } = null!;

    [Parameter]
    public long WseId { get; set; }

    [Parameter]
    public long WseContactPersonId { get; set; }

    [Parameter]
    public long UserId { get; set; }

    [CascadingParameter]
    public LoginState LoginState { get; set; } = default!;

    private ICollection<Collaborator>? _collaborators;

    private ICollection<User> _collaboratorsAsUsers = new List<User>();

    private long[] _idsWithEditRights = { };
    
    protected override async Task OnInitializedAsync() {
        _collaborators = await HttpClient.GetFromJsonAsync<ICollection<Collaborator>>("wse/" + WseId + "/collaborators") ?? new Collaborator[] { };
        foreach (Collaborator collab in _collaborators) {
            User user = await HttpClient.GetFromJsonAsync<User>("user/" + collab.UserId) ?? throw new InvalidOperationException();
            _collaboratorsAsUsers.Add(user);
        }
        _idsWithEditRights = _collaborators
            .Where(collaborator => (collaborator.Rights & WseRights.EditCollaborators) != 0)
            .Select(collaborator => collaborator.UserId)
            .ToArray();
    }

    private void AddCollab() {
        @* TODO logic *@
        ModalBase.Close();
    }

    private async Task RemoveCollabById(long userId) {
        _collaborators!.Remove(_collaborators.Single(collaborator => collaborator.UserId == userId));
        await HttpClient.PostAsJsonAsync($"wse/{WseId}/collaborators", _collaborators);
    }

}
