@page "/login"
@using Microsoft.AspNetCore.Components
@using System.Net
@inject NavigationManager NavManager
@inject HttpClient HttpClient

<PageTitle>Einloggen - Atria</PageTitle>

<div class="container overflow-hidden">
    <div class="row p-2 pt-4">
        <div class="col text-center">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row p-2 justify-content-center">
        <div class="col-lg-5 card">
            <div class="card-body">
                <EditForm Model="_loginDto" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <ValidationSummary></ValidationSummary>
                    <div class="row py-3">
                        <div class="col">
                            <label for="email" class="form-label">E-Mail</label>
                            <div>
                                <InputText type="email" id="email" class="form-control" @bind-Value="_loginDto.Email"></InputText>
                                <ValidationMessage For="() => _loginDto.Email"></ValidationMessage>
                            </div>
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="col">
                            <label for="password" class="form-label">Passwort</label>
                            <div>
                                <InputText type="password" id="password" class="form-control" @bind-Value="_loginDto.Password"></InputText>
                                <ValidationMessage For="() => _loginDto.Password"></ValidationMessage>
                            </div>
                        </div>
                    </div>
                    <div class="row p-0 mb-4 justify-content-end">
                        <div class="col-auto text-center">
                            <NavLink href="forgotPassword">Passwort vergessen?</NavLink>
                        </div>
                    </div>
                    @if (_processingRequest) {
                        <div class="row py-3 justify-content-center">
                            <div class="col-6 d-flex align-items-center">
                                <strong>Loading...</strong>
                                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                            </div>
                        </div>
                    } else {
                        <div class="row py-3 justify-content-center">
                            <div class="col-6 d-grid">
                                <button type="submit" class="btn btn-primary">Anmelden</button>
                            </div>
                        </div>
                    }

                </EditForm>

                <div class="text-center fw-bold text-danger">
                    @LoginMessage
                </div>
            </div>
        </div>
    </div>
    <div class="text-center p-2">
        Sie sind noch nicht registriert? <NavLink href="register">Hier registrieren</NavLink>
    </div>
</div>

@code {

    [CascadingParameter]
    public LoginState LoginState { get; set; } = default!;

    [Parameter]
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    private readonly Models.DTO.LoginDto _loginDto = new();
    private string LoginMessage { get; set; } = null!;

    private bool _processingRequest;

    protected override async Task OnInitializedAsync() {
        await LoginState.Init;
        if (LoginState.LoggedIn) {
            NavManager.NavigateTo("");
        }
    }

    private async void HandleValidSubmit() {
        _processingRequest = true;
        LoginMessage = "";
        var response = await HttpClient.PostAsJsonAsync("auth/login", _loginDto);

        if (response.IsSuccessStatusCode) {
            NavManager.NavigateTo(ReturnUrl ?? "", true);
        } else if (response.StatusCode == HttpStatusCode.Unauthorized) {
            LoginMessage = await response.Content.ReadAsStringAsync();
        } else {
            NavManager.NavigateTo("/internal-server-error");
        }
        _processingRequest = false;
        StateHasChanged();
    }

}
