@page "/aboutUs"

<PageTitle>About Us - Atria</PageTitle>

<div class="container-xxl">
    <h2 class="mb-3 mt-3">About Us</h2>

    <h5>Ein PSE-Projekt vom Fraunhofer IOSB</h5>

    <p>
        Ein brandaktuelles Forschungsgebiet des Fraunhofer IOSB sind Smarte Fabriksysteme. 
        Hier wird erforscht, wie die Prozesse innerhalb einer Fabrik durch Digitalisierung effizienter gestaltet und automatisiert werden können. Ein zentraler Bestandteil dabei sind
        sogenannte Digitale Zwillinge, welche bspw. eine Maschine oder ein Produkt in die virtuelle Welt abbilden.
    </p>
    <p>
        Das IOSB unterstützt Unternehmen bei dem Weg zum Einsatz von Digitalen Zwillingen
        in ihrer Organisation und entwickelt dafür Werkzeuge, um Digitale Zwillinge zu erstellen
        und deren Vorteile bestmöglich auszunutzen. Mittlerweile existiert eine Vielzahl solcher
        Werkzeuge und den Anwendern fällt es schwer den Überblick über die möglichen Tools
        zu behalten.
    </p>
    <p>
        Ziel unseres Projektes ist es, dieses Problem zu beseitigen. Dafür wird eine Webanwendung entwickelt, welche alle Informationen zu einer Auswahl an Webservices an einem
        Ort bündelt und es ermöglicht, diese zu organisieren. Nutzer können selbstständig Webseiten eintragen, bearbeiten und wieder löschen. Metainformationen wie Beschreibungen
        und Tags in Verbindung mit diversen Such- und Filterfunktionen erlauben es, schnell und
        einfach ein gewünschtes Tool zu finden. Durch eine ansprechende und nutzerfreundliche
        grafische Bedienoberfläche ist das Portal mit minimaler Einarbeitungszeit verwendbar.
    </p>

</div>