@page "/notifications"

<PageTitle>Atria - Notifications</PageTitle>

<div class="container-lg mt-3">
    <h1>Benachrichtigungen</h1>

    <div class="card">

        <div class="row">
            <div class="col-1">
                <img src="/images/questionIcon.png"/>
            </div>
            <div class="col-11">
                <div class="card-body">
                    <h5 class="card-title">Eine neue Frage wurde erstellt.</h5>
                    <a class="card-link" href="/notifications">Name WSE</a>
                    <p class="text-end">
                        <small class="text-muted">
                            Datum
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}