h2 {
    margin-bottom: 20px;
}

.list-group-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-check-input {
    width: 40px;
    height: 20px;
}

.btn-lang {
    background-color: none;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: rgba(150, 150, 150, 1);
}
