@using System.Net
@inject HttpClient HttpClient
@inject IJSRuntime Js
@inject NavigationManager NavManager


<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Passwort ändern</h5>
            </div>
            <EditForm Model="_resetPassword" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <div class="modal-body">
                    <p>Geben Sie Ihr aktuelles Passwort und ein neues Passwort ein.</p>

                    <div class="mb-3">
                        <label class="form-label">aktuelles Passwort</label>
                        <div class="ui-field">
                            <InputText type="password" id="currentPassword" class="form-control" @bind-Value="_resetPassword.Password"></InputText>
                            <ValidationMessage For="() => _resetPassword.Password"></ValidationMessage>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">neues Passwort</label>
                        <div class="ui-field">
                            <InputText type="password" id="newPassword" class="form-control" @bind-Value="_resetPassword.NewPassword"></InputText>
                            <ValidationMessage For="() => _resetPassword.NewPassword"></ValidationMessage>                            
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">neues Passwort bestätigen</label>
                        <div class="ui-field">
                            <InputText type="password" id="confirmPassword" class="form-control" @bind-Value="_resetPassword.ConfirmPassword"></InputText>
                            <ValidationMessage For="() => _resetPassword.ConfirmPassword"></ValidationMessage>                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="@ModalCancel">Abbrechen</button>
                    <button type="submit" class="btn btn-success">Speichern</button>
                </div>
            </EditForm>
            <div class="text-center fw-bold text-danger">
                @ResetPasswordMessage
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private readonly Models.DTO.ResetPassword _resetPassword = new();

    private string ResetPasswordMessage = default!;

    public Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    public Task ModalSave()
    {
        return OnClose.InvokeAsync(true);
    }

    private async Task HandleValidSubmit() {
        var response = await HttpClient.PostAsJsonAsync("auth/login", _resetPassword);

        if (response.IsSuccessStatusCode) {
            await Js.InvokeVoidAsync("history.back");
            NavManager.NavigateTo(NavManager.Uri, forceLoad: true); // Refresh header

            await OnClose.InvokeAsync(true);

        }
        else if (response.StatusCode == HttpStatusCode.Unauthorized) {

            ResetPasswordMessage = await response.Content.ReadAsStringAsync();
        }
        else {
            NavManager.NavigateTo("/internal-server-error");
        }
    }
}