<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Passwort ändern</h5>
            </div>

            <div class="modal-body">
                <p>Geben Sie Ihr aktuelles Passwort und ein neues Passwort ein.</p>
                <div class="mb-3">
                    <label class="form-label">aktuelles Passwort</label>
                    <div class="ui-field">
                        <input type="password" class="form-control" placeholder=""/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">neues Passwort</label>
                    <div class="ui-field">
                        <input type="password" class="form-control" placeholder=""/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">neues Passwort bestätigen</label>
                    <div class="ui-field">
                        <input type="password" class="form-control" placeholder=""/>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" @onclick="@ModalCancel">Abbrechen</button>
                <button type="button" class="btn btn-success" @onclick="@ModalSave">Speichern</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    public Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    public Task ModalSave()
    {
        return OnClose.InvokeAsync(true);
    }
}