input {
    background-color: rgba(250, 250, 250, 1);
}

.btn {
    height: 35px;
    background-color: none;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.btn-green {
    height: 35px;
    background-color: rgba(0, 175, 138, 1);
    color: white;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: black;
}
