.btn-cancel {
    height: 35px;
    background-color: rgba(0, 175, 138, 1);
    color: white;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgba(150, 150, 150, 1);
}

.btn-delete {
    height: 35px;
    background-color: rgba(299, 85, 85, 1);
    color: white;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgba(150, 150, 150, 1);
}
