<div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog modal-dialog-centered" style="z-index: 1055">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ModalTitle</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                </button>
            </div>
            <div class="modal-body">
                @ModalBody
            </div>
            @if (ModalFooter is not null) {
                <div class="modal-footer">
                    @ModalFooter
                </div>
            }
        </div>
    </div>
    @if (_showBackdrop) {
        <div class="modal-backdrop fade show" data-dismiss="modal" @onclick="Close"></div>
    }
</div>

@code {

    [Parameter]
    public RenderFragment ModalTitle { get; set; } = null!;

    [Parameter]
    public RenderFragment ModalBody { get; set; } = null!;

    [Parameter]
    public RenderFragment? ModalFooter { get; set; }

    private string _modalDisplay = "none;";
    private string _modalClass = "";
    private bool _showBackdrop;

    public void Open() {
        _modalDisplay = "block;";
        _modalClass = "show";
        _showBackdrop = true;
    }

    public void Close() {
        _modalDisplay = "none";
        _modalClass = "";
        _showBackdrop = false;
    }

    protected override void OnParametersSet() {
        if (ModalTitle == null || ModalBody == null) {
            throw new InvalidOperationException(
                $"You have to specify both '{nameof(ModalTitle)}' and '{nameof(ModalBody)}'");
        }
    }

}
