@if (!LoginState.Loaded) {
    <div class="d-flex justify-content-center align-items-center">
        <h6 class="m-0">Authentifiziere...</h6>
    </div>
} else {
    if (LoginState.LoggedIn) {
        if (AuthorizedAndMatching is null) {
            @Authorized
        } else {
            if (UserIdClaim == LoginState.User.Id) {
                @AuthorizedAndMatching
            } else {
                @NotAuthorized
            }
        }
    } else {
        @NotAuthorized
    }
}


@code {

    [CascadingParameter]
    public LoginState LoginState { get; set; } = default!;
    
    [Parameter]
    public RenderFragment? Authorized { get; set; }
    
    [Parameter]
    public RenderFragment? NotAuthorized { get; set; }
    
    [Parameter]
    public RenderFragment? AuthorizedAndMatching { get; set; }
    
    [Parameter]
    public long? UserIdClaim { get; set; }

    protected override void OnParametersSet() {
        if (Authorized != null && AuthorizedAndMatching != null) {
            throw new InvalidOperationException($"Do not specify both '{nameof(Authorized)}' and '{nameof(AuthorizedAndMatching)}'");
        }
        if (AuthorizedAndMatching != null && UserIdClaim == null) {
            throw new InvalidOperationException($"'{nameof(AuthorizedAndMatching)}' requires '{nameof(UserIdClaim)}'");
        }

    }

}
