<nav class="navbar sticky-bottom">
    <div class="container-xxl">
        <NavLink class="navbar-brand p-0" href="https://www.iosb.fraunhofer.de/">
            <img height="28" src="/images/fraunhoferLogo.png" alt="Franhofer-Logo"/>
        </NavLink>
        <NavLink class="nav-item link-dark" href="aboutUs">
            About Us
        </NavLink>
    </div>
</nav>
