<nav class="navbar sticky-bottom">
    <div class="container-xxl">
        <NavLink class="navbar-brand p-0" href="#">
            <img height="28" src="/images/fraunhoferLogo.png"/>
        </NavLink>
        <NavLink class="nav-item link-dark text-decoration-none" href="aboutUs">
            About Us
        </NavLink>
    </div>
</nav>