@inherits LayoutComponentBase

<PageTitle>AtriaTest</PageTitle>

<HeadContent>
	<link rel="icon" href="/images/atriaLogo.png" />
</HeadContent>

<div class="page">
    <NavMenu/>
    <main>
        @Body
    </main>
    @*<BottomBar/>*@
</div>
