@using Models
@inherits LayoutComponentBase

<PageTitle>AtriaTest</PageTitle>

<HeadContent>
    <link rel="icon" href="/images/atriaImg.png"/>
</HeadContent>

<div class="page">
    <CascadingValue Value="@CurrentUser">
        <NavMenu/>
        @* TODO bottom bar height here as padding *@
        <main style="padding-bottom: 50px">
            @Body
        </main>
        <BottomBar/>
    </CascadingValue>
</div>

@code {
	[Inject]
	private HttpClient HttpClient { get; set; } = null!;

	private LoginState LoginState { get; set; } = null!;

	protected override void OnInitialized() {
		LoginState = new(HttpClient);
	}
}

