@inherits LayoutComponentBase

<PageTitle>Atria</PageTitle>

<div class="page">
      <NavMenu/>
      @* TODO bottom bar height here as padding *@
      <main style="padding-bottom: 50px">
        @Body
      </main>
      <BottomBar/>
</div>
