@inherits LayoutComponentBase

<PageTitle>Atria</PageTitle>

<div class="page">
    <NavMenu/>
    <main style="padding-bottom: var(--bottom-bar-height)">
        @Body
    </main>
    <BottomBar/>
</div>
