@inherits LayoutComponentBase

<PageTitle>AtriaTest</PageTitle>

<HeadContent>
    <link rel="icon" href="/images/atriaImg.png"/>
</HeadContent>

<div class="page">
      <NavMenu/>
      @* TODO bottom bar height here as padding *@
      <main style="padding-bottom: 50px">
        @Body
      </main>
      <BottomBar/>
</div>
