<nav class="navbar navbar-custom">
    <div class="navbar-brand fraunhofer">
        <img src="/images/fraunhoferLogo.png" width="145" height="40" alt="">
    </div>

    <div class="nav">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
            <img src="/images/atriaLogo.png" width="130" height="50" alt=""/>
        </NavLink>
    </div>

    <div class="nav">
        <div class="nav-item">
            <NavLink href="faq">
                <ion-icon name="help-circle-outline"></ion-icon>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="settings">
                <ion-icon name="settings-outline"></ion-icon>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="notifications">
                <ion-icon name="notifications-outline"></ion-icon>
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink href="newWse">
                <ion-icon name="add-circle-outline"></ion-icon>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="profile">
                <ion-icon name="person-circle-outline"></ion-icon>
            </NavLink>
        </div>
    </div>
</nav>
