.stars {
	position: relative;
	visibility: hidden;
}

	.stars:after {
		content: "\f005\f005\f005\f005\f005";
		display: inline-block;
	}

.stars-child {
	position: absolute;
	overflow: hidden;
	visibility: visible;
}
