@using Models.DTO
@using Models
@using Services
@inject NavigationManager NavigationManager

@foreach (WebserviceEntry entry in Entries) {
    <div class="card mb-3">
        <WseListElement Entry="entry"></WseListElement>
    </div>
}


@code {

    [Parameter]
    public IEnumerable<WebserviceEntry> Entries { get; set; } = null!;

    [CascadingParameter]
    private LoginState LoginState { get; set; } = null!;

    [Inject]
    private HttpClient HttpClient { get; set; } = default!;

    protected override async Task OnInitializedAsync() {
        await LoginState.Init;
        if (LoginState.LoggedIn) {
            var response = await HttpClient.GetAsync($"user/{LoginState.User.Id}/bookmarks");
            if (response.IsSuccessStatusCode) {
                LoginState.User.Bookmarks = (await response.Content.ReadFromJsonAsync<ISet<WebserviceEntry>>())!;
            }
        }
    }

}
